<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Welcome!
            {% endblock %}
        </title>
        <link href="/style.css" rel="stylesheet">
        <link href="https://bootswatch.com/4/lux/bootstrap.min.css" rel="stylesheet"> {% block stylesheets %}{% endblock %}
        </head>

        <body>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{{ path('movies') }}">ALLO CINE 2</a>
                <button aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarColor02" data-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('movies') }}">MOVIES</a>
                        </li>
                        {% if not app.user %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('security_Registration') }}">REGISTER</a>
                            </li>
                        {% endif %}
                        {% if not app.user %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('security_login') }}">LOGIN</a>
                            </li>
                        {% else %}


                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('security_logout') }}">LOGOUT</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('new_list') }}">CREATE LIST</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('new_list') }}">MY ACCOUNT</a>
                            </li>
                        {% endif %}

                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('users_index') }}">ADMIN</a>
                            </li>
                        {% endif %}


                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" placeholder="Search" type="text">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </form>
                </div>
            </nav>

            <div class="container"><br>
                {% block body %}{% endblock %}
            </div>
            {% block javascripts %}{% endblock %}
        </body>

    </html>
