{% extends "base.html.twig" %}

{% block body %}

<h1>Inscription</h1>
<hr>
{{ form_start(form) }}
{{ form_row(form.username, {'label' : ' ','attr': {'placeholder': 'Enter your username'}}) }}
{{ form_row(form.email, {'label' : ' ','attr': {'placeholder': 'Enter your email'}}) }}
{{ form_row(form.password, {'label' : ' ','attr': {'placeholder': 'Enter your password'}}) }}
{{ form_row(form.confirm_password, {'label' : ' ','attr': {'placeholder': 'Confirm your password'}}) }}
<button type="submit" class="btn btn-primary">Let's go!</button>
{{ form_end(form)}}

{% endblock %}